[submodule "backend"]
	path = backend
	url = https://github.com/SQLutions-FATEC/API-5-Semestre-Backend.git

[submodule "frontend"]
	path = frontend
	url = https://github.com/SQLutions-FATEC/API-5-Semestre-Frontend.git